:root {
  --primary-h-color: #212121;
  --primary-p-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-and-hero-color: #2f303a;
  --header-color: #ececec;
  --primary-bg-color: #f5f5f5;
}

/* стилизация ссылок и т.п. */
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--primary-h-color);
  letter-spacing: 0.03em;
}
/* header */
/* style logo */
.header {
  background-color: var(--header-color);
}
.logo {
  color: #000000;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo .web {
  color: var(--accent-color);
}
/* color for site-nav and contacts */
.header-nav .link {
  color: var(--primary-h-color);
}
.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}
.header-nav .link-contacts {
  color: #757575;
}
.header-nav .link-contacts:hover,
.header-nav .link-contacts:focus {
  color: var(--accent-color);
}

.header-nav .link.current {
  color: var(--accent-color);
}
/* text */
.header-nav .link,
.link-contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* hero and buttons*/
.hero {
  background-color: var(--footer-and-hero-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.button-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* наши преимущества */
.our-benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.our-benefits-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-p-color);
}
/* заголовки секций 2-3 (Чем мы занимаемся, наша команда) */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-h-color);
}


/* футер */
.footer {
  background-color: var(--footer-and-hero-color);
}
.footer .logo {
  color: var(--primary-white-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.adress-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-white-color);
  /* or 171% */

  letter-spacing: 0.03em;
}
.contacts-footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
